@import "styles.css";
html {
  font-size: 62.5%;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  background: var(--mystic);
  border-radius: 4px;
  display: flex;
  padding: 20px;
  width: 75%;
}

.nav-link {
  color: var(--fuzzy-wuzzy-brown);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  padding: 0 var(--spacing-8);
  text-decoration: none;
  border-right: solid 1px var(--fuzzy-wuzzy-brown);
}

.nav-link:last-child {
  border: none;
}

.nav-link:hover,
.nav-link-active {
  color: var(--mystic);
  background-color: var(--sea-pink);
}

.header {
  align-items: center;
  background-image: url(/images/raspberries.png);
  color: var(--dusk-light);
  display: flex;
  font-size: var(--font-size-32);
  font-family: var(--font-family-headers);
  height: 140px;
  justify-content: center;
  margin-bottom: var(--spacing-20);
  width: 100%;
}

@media screen and (min-width: 640px) {
  .header {
    font-size: var(--font-size-40);
    max-width: 1000px;
  }
  .nav-link {
    font-size: var(--font-size-20);
  }
}
