extends layout

block content
  h1= 'Välkommen'
  h2= 'Logga in'
  form(action="/login" method="post")
    div
      label(for="usernam") Användarnamn:
        input(type="text" name="username")
    div
      label(for="password") Lösenord:
        input(type="password" name="password")
    div
        input(type="submit" value="Logga in")
  


 