.recipeWrapper {
  display: flex;
  justify-content: center;
  margin: var(--spacing-20) 0;
}

.formWrapper {
  background: #deeaee;
  border-radius: 6px;
  color: var(--dusk-light);
  font-size: var(--font-size-16);
  font-family: var(--font-family-base);
  overflow-wrap: break-word;
  padding: 20px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipeForm {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.input,
.textarea,
.select {
  border-radius: 4px;
  border: none;
  margin-bottom: var(--spacing-8);
}

.input {
  padding: var(--spacing-8);
}

.button {
  position: relative;
  border-radius: 4px;
  border: none;
  padding: var(--spacing-8);
  color: var(--dusk);
  background-color: var(--spring-rain);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-semi-bold);
  font-family: var(--font-family-base);
  transition-duration: 0.4s;
  overflow: hidden;
}

.button:hover {
  color: var(--mystic);
  background-color: var(--sea-pink);
}

.button:after {
  content: "";
  background: var(--fuzzy-wuzzy-brown);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.errorMessage {
  background: var(--fuzzy-wuzzy-brown);
  border-radius: 4px;
  color: var(--mystic);
  width: 100%;
  max-width: 482px;
  padding: 8px;
  margin-bottom: 8px;
  display: none;
}

.errorMessage.active {
  display: block;
}
