@import "../styles.css";

.recipesWrapper {
  display: flex;
  justify-content: center;
  margin: var(--spacing-20) 0;
}

.header {
  font-family: var(--font-family-headers);
  color: var(--dusk-light);
}

.recipes {
  background: #deeaee;
  border-radius: 6px;
  font-size: var(--font-size-16);
  overflow-wrap: break-word;
  padding: 20px;
  width: 75%;
}

.recipe {
  color: var(--fuzzy-wuzzy-brown);
  display: inline-block;
  margin-bottom: var(--spacing-4);
}
