@import "../styles.css";
.howToWrapper {
  display: flex;
  flex-direction: column;
}

.arrow {
  font-size: var(--font-size-14);
  color: var(--fuzzy-wuzzy-brown);
  margin-left: var(--spacing-2);
}
.breadCrum {
  font-size: var(--font-size-14);
  color: var(--fuzzy-wuzzy-brown);
  margin-left: var(--spacing-2);
  padding: var(--spacing-4);
  text-decoration: none;
}

.breadCrum:hover {
  background-color: var(--sea-pink);
  color: var(--mystic);
}

.text {
  white-space: pre-wrap;
}

.listItem {
  margin-bottom: var(--spacing-16);
}

.recipesWrapper {
  display: flex;
  justify-content: center;
  margin: var(--spacing-20) 0;
}

.recipe {
  background: #deeaee;
  border-radius: 6px;
  color: var(--dusk-light);
  font-size: var(--font-size-16);
  overflow-wrap: break-word;
  padding: 20px;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.recipeDescriptionWrapper {
  width: 100%;
  order: 2;
}

.recipeImageWrapper {
  width: 100%;
  display: flex;
  order: 1;
  margin-bottom: var(--spacing-20);
}

.edithIcon {
  text-decoration: none;
  margin-left: 75%;
  padding: 4px;
  border-radius: 4px;
  color: var(--dusk-light);
  display: inline-flex;
}

.edithIcon:hover {
  background-color: var(--sea-pink);
  color: var(--mystic);
}

.iconText {
  margin-right: var(--spacing-4);
}

.figure {
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-radius: 8px;
  max-height: 400px;
}

.image {
  border-radius: 8px;
  width: 100%;
}

.recipeTitle {
  font-family: var(--font-family-headers);
  font-size: var(--font-size-32);
}

@media screen and (min-width: 640px) {
  .figure {
    width: 400px;
  }
  .recipe {
    flex-direction: row;
  }
  .recipeDescriptionWrapper {
    width: 60%;
    order: 1;
  }
  .recipeImageWrapper {
    width: 40%;
    order: 2;
  }
}

@media screen and (min-width: 1200px) {
  .howToWrapper {
    flex-direction: row;
  }

  .image {
    margin-top: 40px;
  }
  .ingredients {
    width: 100%;
  }
  .howTo {
    width: 100%;
    margin-right: 20px;
  }
}
