@import '../styles.css';

.text {
  white-space: pre-wrap;
}

.recipesWrapper {
  display: flex;
  justify-content: center;
  margin: var(--spacing-20);
}

.recipe {
  background: #deeaee;
  border-radius: 6px;
  color: var(--dusk-light);
  font-size: var(--font-size-16);
  overflow-wrap: break-word;
  padding: 20px;
  width: 75%;
}

.recipe-title {
  font-family: var(--font-family-headers);
  font-size: var(--font-size-32);
}
