@import "../styles.css";
.arrow {
  font-size: var(--font-size-14);
  color: var(--fuzzy-wuzzy-brown);
  margin-left: var(--spacing-2);
}
.breadCrum {
  font-size: var(--font-size-14);
  color: var(--fuzzy-wuzzy-brown);
  margin-left: var(--spacing-2);
  padding: var(--spacing-4);
  text-decoration: none;
}

.breadCrum:hover {
  background-color: var(--sea-pink);
  color: var(--mystic);
}

.text {
  white-space: pre-wrap;
}

.recipesWrapper {
  display: flex;
  justify-content: center;
  margin: var(--spacing-20) 0;
}

.recipe {
  background: #deeaee;
  border-radius: 6px;
  color: var(--dusk-light);
  font-size: var(--font-size-16);
  overflow-wrap: break-word;
  padding: 20px;
  width: 75%;
}

.recipeTitle {
  font-family: var(--font-family-headers);
  font-size: var(--font-size-32);
}
